<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ogj.demo.Mapper.CorporationDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ogj.demo.Entity.CorporationData">
        <id column="corporation_id" property="corporationId" />
        <result column="corporation_name" property="corporationName" />
    </resultMap>

</mapper>
