<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ogj.demo.Mapper.StudentDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ogj.demo.Entity.StudentData">
        <id column="college_id" property="collegeId" />
        <result column="major_id" property="majorId" />
        <result column="student_id" property="studentId" />
        <result column="student_number" property="studentNumber" />
        <result column="student_name" property="studentName" />
        <result column="student_birthday" property="studentBirthday" />
        <result column="student_sex" property="studentSex" />
        <result column="student_address" property="studentAddress" />
        <result column="student_Political_affiliation" property="studentPoliticalAffiliation" />
        <result column="student_nation" property="studentNation" />
        <result column="student_level" property="studentLevel" />
        <result column="student_star_time" property="studentStarTime" />
        <result column="student_telphone" property="studentTelphone" />
    </resultMap>

</mapper>
