<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ogj.demo.Mapper.TeacherCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ogj.demo.Entity.TeacherCourse">
        <id column="college_id" property="collegeId" />
        <result column="major_id" property="majorId" />
        <result column="teacher_id" property="teacherId" />
        <result column="Course_Id" property="courseId" />
    </resultMap>

</mapper>
